.backgr {
    height: 200px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /* Standard syntax (must be last) */
  }

  .list-class{
  text-align: left;
  list-style-type: none;
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1));
  width:600px
  }